@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: pink;
  padding-left: 20px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZthv3YZ3aYjlh6BhQeoqw6CWqwYYxu2Yb5A&s");
}

img{
  border-radius: 30px;
}

h1 {
  font-family: "ariel", sans-serif;
}
